
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                
                <h1 class="text-center">ADMIN todo</h1>
               
                
                    <form (ngSubmit)="formSubmit()">

                        <mat-form-field appearance="outline">
                            <mat-label>Todo title</mat-label>
                            <input 
                            [(ngModel)]="todo.todoTask"
                            name="todoTask"
                            matInput 
                            placeholder="todo title">
                        </mat-form-field>
                        <button mat-raised-button color="primary">Add</button>
                        </form>
            </div>

            <div *ngIf="todos">
                <h2>My Data</h2>
                <table>
                  
                    <tr *ngFor="let item of todos">
                      <td>
                    <label>
                      <input type="checkbox" (click)="adminDone(item)" [(ngModel)]="item.done">{{ item.todoTask }}
                    </label>
                  </td>
                  <td>
                    <button mat-raised-button color="warn" class="ml20" (click)="deleteTodo(item.todoId)">DELETE</button>
                  </td>
                  </tr>
                 
                </table>
              </div>
        </div>
    </div>
</div>