<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md6 offset-md-3 text-center">

                
                <h1 class="text-center">Login </h1>

                <form action="">
                   
                <mat-form-field class="full-width" appearance="outline">
                    <label>User Name</label>
                    
                    <input type="text" required matInput placeholder="user name">
                    
                </mat-form-field>
                    <br>
                <mat-form-field class="full-width" appearance="outline">
                    <label>User Password</label>
                    <input type="password" required matInput placeholder="password">
                </mat-form-field>

                <div class="container">
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</div>